body {
    margin: auto;
    background: #ABC7DD;
    font-family: candara;
}
.sub1 {
    margin: auto;
    border-bottom: 1px solid #000000;
    width: 860px;
    padding: 0px 20px 0px 20px;
    height: 64px;
    margin-top: 30px;
}
.sub1 ul{
    padding: 0;
    list-style: none;
}
.sub1 ul li{
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.sub1 ul li a{
    text-decoration: none;
    color: #000000;
    background: #6db1e4;
    border: 1px solid #000000;
    border-bottom: none;
    padding: 23px 20px 22px 20px;
    -webkit-border-top-right-radius
}
